<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.b2b.mapper.CommentsMapper">

	<!-- 댓글 추가 -->
	<insert id="create" parameterType="com.b2b.domain.CommentsVO">
		INSERT INTO COMMENTS
		(COMMENT_NO, PNO, ID, NAME, COMMENTS, REGDATE)
		VALUES
		(SEQ_COMMENTS.NEXTVAL, #{pno}, #{id}, #{name}, #{comments}, SYSDATE)
	</insert>

	<!-- 댓글 삭제 -->
	<delete id="delete" parameterType="int">
		DELETE FROM COMMENTS WHERE
		COMMENT_NO = #{commentNo}
	</delete>

	<delete id="deleteAll">
		DELETE FROM COMMENTS WHERE PNO = #{pno}
	</delete>

	<select id="listByProduct" resultType="com.b2b.domain.CommentsVO">
		SELECT COMMENT_NO, PNO, ID, NAME, COMMENTS, REGDATE
		FROM COMMENTS WHERE PNO = #{pno}
	</select>

</mapper>