<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.b2b.mapper.ProductMapper">

	<insert id="create">
		INSERT INTO TBL_PRODUCT (PNO, PNAME, CATEGORY, CONTENT, STARTUP_ID)
			VALUES (SEQ_PRODUCT.nextval, #{pname}, #{category}, #{content}, #{startup_id})
	</insert>
	
	<select id="read" resultType="com.b2b.domain.ProductVO">
		SELECT PNO, PNAME, CATEGORY, CONTENT, STARTUP_ID, REGDATE
			FROM TBL_PRODUCT
			WHERE PNO = #{pno}
	</select>
	
	<update id="update">
		UPDATE TBL_PRODUCT SET PNAME = #{pname}, CATEGORY = #{category}, CONTENT = #{content}, STARTUP_ID = #{startup_id}
			WHERE PNO = #{pno}
	</update>
	
	<delete id="delete">
		DELETE FROM TBL_PRODUCT WHERE PNO = #{pno}
	</delete>
	
	<select id="listSearch" resultType="com.b2b.domain.ProductVO">
	<![CDATA[
		SELECT * FROM( 
			SELECT ROWNUM RNUM, PNO, PNAME, CATEGORY, CONTENT, STARTUP_ID, REGDATE   
				FROM (SELECT * FROM TBL_PRODUCT WHERE PNO > 0 
		]]>
				<include refid="search"></include>
				
	<![CDATA[			
		ORDER BY PNO DESC))
		WHERE (RNUM >= #{pageStart} AND RNUM <= #{pageEnd})
        ORDER BY PNO DESC, REGDATE DESC
        ]]>
	</select>
	
	<select id="listSearchCount" resultType="int">
	<![CDATA[	
		SELECT COUNT(*) FROM TBL_PRODUCT
		WHERE PNO > 0 
	]]>	
		<include refid="search"></include>
	</select>
	
	<!-- 동적 SQL -->
	<sql id="search">
		
		<if test="searchType != null">
		
			<if test="searchType == 'n'.toString()">
				AND PNAME LIKE '%' || #{keyword} || '%'
			</if>
			<if test="searchType == 'c'.toString()">
				AND CATEGORY LIKE '%' || #{keyword} || '%'
			</if>
			<if test="searchType == 's'.toString()">
				AND STARTUP_ID LIKE '%' || #{keyword} || '%'
			</if>
			<if test="searchType == 'nc'.toString()">
				AND (PNAME LIKE '%' || #{keyword} || '%')
					 OR
					(CATEGORY LIKE '%' || #{keyword} || '%')
			</if>
			<if test="searchType == 'cs'.toString()">
				AND (CATEGORY LIKE '%' || #{keyword} || '%')
					 OR
					(STARTUP_ID LIKE '%' || #{keyword} || '%')
			</if>
			<if test="searchType == 'ncs'.toString()">
				AND (PNAME LIKE '%' || #{keyword} || '%')
					 OR
					(CATEGORY LIKE '%' || #{keyword} || '%')
					 OR
					(STARTUP_ID LIKE '%' || #{keyword} || '%')
			</if>
		
		</if>
		
	</sql>

</mapper>