<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.b2b.mapper.StartUpUserMapper">

	<select id="login" resultType="com.b2b.domain.StartUpUserVO">
		SELECT S_NAME, S_NAME AS NAME, S_ID, S_PW, STARTUP_ID
		FROM 
		STARTUP_USER,START_UP
		WHERE STARTUP_USER.S_ID = START_UP.EMAIL
		AND S_ID = #{sId} AND S_PW = #{sPw}
		
	</select>

	<insert id="create">
		INSERT INTO STARTUP_USER (S_NAME, S_ID, S_PW)
		VALUES (#{sName}, #{sId}, #{sPw})
	</insert>

	<select id="read" resultType="com.b2b.domain.StartUpUserVO">
		SELECT S_NAME, S_ID, S_PW
		FROM STARTUP_USER
		WHERE S_ID = #{sId}
	</select>

	<update id="update">
		UPDATE STARTUP_USER SET S_NAME = #{sName}, S_ID = #{sId},
		S_PW = #{sPw}
		WHERE S_ID = #{sId}
	</update>

	<delete id="delete">
		DELETE FROM STARTUP_USER WHERE S_ID = #{sId}
	</delete>

	
</mapper>