<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.b2b.mapper.StartupMapper">

	<insert id="create">

		INSERT INTO START_UP (STARTUP_ID,STARTUPNAME,ESTABLISHED_YEAR,SIZES
								,CATEGORYS,BUSINESS,NO_OF_EMPLOYEES,CITY
								,ITEMS,NAMES)	
		VALUES (#{startupId},#{startupName},#{establishedYear},#{sizes}
					,#{categorys},#{business},#{noOfEmployees},#{city}
					,#{items},#{names})


	</insert>

	<select id="read" resultType="com.b2b.domain.StartupVO">
		SELECT STARTUP_ID, STARTUPNAME, ESTABLISHED_YEAR, SIZES,
		CATEGORYS,BUSINESS,NO_OF_EMPLOYEES,CITY
		,ITEMS,NAMES,REGDATE
		FROM START_UP
		WHERE STARTUP_ID = #{startupId}
	</select>

	<update id="update">
		UPDATE START_UP SET STARTUP_ID = #{startupId}, STARTUPNAME = #{startupName}, ESTABLISHED_YEAR = #{establishedYear}, SIZES = #{sizes}
			  				CATEGORYS = #{categorys}, BUSINESS = #{business}, NO_OF_EMPLOYEES = #{noOfEmployees}, CITY = #{city}
			  				ITEMS = #{items},NAMES = #{names}
		
		WHERE STARTUP_ID = #{startupId}

	</update>

	<delete id="delete">
		DELETE FROM START_UP WHERE STARTUP_ID = #{startupId}
	</delete>

	<select id="list" resultType="com.b2b.domain.StartupVO">

<![CDATA[
 SELECT STARTUP_ID, STARTUPNAME, ESTABLISHED_YEAR, SIZES,
		CATEGORYS,BUSINESS,NO_OF_EMPLOYEES,CITY
		,ITEMS,NAMES,REGDATE
	FROM START_UP
    WHERE STARTUP_ID IS NOT NULL
    ORDER BY STARTUP_ID DESC
]]>
	</select>
	
<sql id="search">


		<if test="searchType != null">

			<if test="searchType == 'n'.toString()">
				AND STARTUPNAME LIKE '%' || #{keyword} || '%'

			</if>
			<if test="searchType == 's'.toString()">
				AND SIZES LIKE '%' || #{keyword} || '%'

			</if>

			<if test="searchType == 'c'.toString()">
				AND CITY LIKE '%' || #{keyword} || '%'

		</if>
		
			<if test="searchType == 'i'.toString()">
				AND ITEMS LIKE '%' || #{keyword} || '%'

		</if>
		
		
		
		
         </if>

	</sql>
	
	
	<select id="listSearchCriteria"
		resultType="com.b2b.domain.StartupVO">

<![CDATA[
SELECT * FROM(
 SELECT ROWNUM RNUM, STARTUPNAME, NAMES, STARTUP_ID,  ESTABLISHED_YEAR, SIZES,
		CATEGORYS,BUSINESS,NO_OF_EMPLOYEES,CITY
		,ITEMS,REGDATE
		FROM(SELECT * FROM START_UP WHERE STARTUP_ID IS NOT NULL
		]]>

		<include refid="search"></include>
		
<![CDATA[	
		ORDER BY STARTUP_ID DESC))
    	WHERE (RNUM >= #{pageStart} AND RNUM <=#{pageEnd})
    	ORDER BY STARTUP_ID DESC, REGDATE DESC
]]>
	</select>


	<!-- <select id="listSearchCriteria"
		resultType="com.b2b.domain.StartupVO">

<![CDATA[
SELECT * FROM(
 SELECT ROWNUM RNUM, STARTUP_ID, STARTUPNAME, ESTABLISHED_YEAR, SIZES,
		CATEGORYS,BUSINESS,NO_OF_EMPLOYEES,CITY
		,ITEMS,EMAIL,NAMES,REGDATE
		FROM(SELECT * FROM START_UP WHERE STARTUP_ID IS NOT NULL
		]]>

		<include refid="search"></include>
		
<![CDATA[	
		ORDER BY STARTUP_ID DESC))
    	WHERE (RNUM >= #{pageStart} AND RNUM <=#{pageEnd})
    	ORDER BY STARTUP_ID DESC, REGDATE DESC
]]>
	</select> -->
	
	

	<select id="listSearchCountCriteria" resultType="int">
	
	<![CDATA[	
		SELECT COUNT(*) FROM START_UP
		WHERE STARTUP_ID IS NOT NULL
		]]>

		<include refid="search"></include>

	</select>
	
	
<!-- 다중 파일 등록 -->

<insert id="insertFile">

INSERT INTO STARTUP_FILE (STARTUP_FILE_NO, STARTUP_FILE_NAME, STARTUP_ID)
VALUES (SEQ_STARTUP_FILE.NEXTVAL,#{startupFileName}, #{startupId})

</insert>

<!-- 다중 파일 삭제 -->

<delete id="deleteFile">

DELETE FROM STARTUP_FILE WHERE STARTUP_ID = #{startupId}

</delete>


	
	
	
	

	




</mapper>