<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mis.mapper.UserMapper">

	<select id="login" resultType="com.mis.domain.UserVO">
		SELECT UNAME, USID, UPW,
		FROM TBL_USER
		WHERE USID = #{usid} AND UPW = #{upw}
	</select>

	<insert id="create">
		INSERT INTO TBL_USER (UNAME, USID, UPW)
		VALUES (#{uname}, #{usid}, #{upw})
	</insert>

	<select id="read" resultType="com.mis.domain.UserVO">
		SELECT UNAME, USID, UPW
		FROM TBL_USER
		WHERE USID = #{usid}
	</select>

	<update id="update">
		UPDATE TBL_USER SET UNAME = #{uname}, USID = #{usid},
		UPW = #{upw}
		WHERE USID = #{usid}
	</update>

	<delete id="delete">
		DELETE FROM TBL_USER WHERE USID = #{usid}
	</delete>

	
</mapper>