<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration 
	PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-config.dtd">
	
<configuration>

	<settings> <!-- '_'되어 있는 것을 자동으로 CamelCase도 인식 및 변환 시켜줌 -->
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>

</configuration>